.play{
    background: #181818;;
    width: 170.43px;
    height: 232.6px;
    margin: 1.5rem;
    padding: 16px;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0px 13px 10px -7px rgba(204, 204, 204, 0.4); */
    /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

    top: 50px
}
.play img {
    width: 138.43px;
    height: 138.43px;
    border-radius: 6px;
}
.escrita{
    display: flex;
    justify-content: center;
}
.play div h2{
background:  #4C6B22;
color: #BEEB14;
}
.promo{
    background: #344654;
}
.play:hover{
    /* box-shadow: 0px 30px 18px -8px rgba(36, 84, 152, 0.4); */
    /* transform: scale(1.05,1.05); */
}

.play div:nth-of-type(3){
    z-index: 2;
    background: #0099ff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
padding: 1em 24px 24px 24px; 
}


.play div:nth-of-type(3) h3{
    margin-top: 5px;
    color: #f9d3b4;
}

.play:hover div:nth-of-type(3) {
background: transparent;
}
.play:hover div:nth-of-type(1) {
   opacity: 1;
    }
    

.info{
    
        width: 222px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background: #549300;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      position: relative;
      left: 35px;
      top: 9px;
}
.desc{
    width: 50%;
     height: 100%;
      background: #344654;
 
}
.play div  h5{
    position: relative;
    left: 97px;
}